.Button {
  padding: 0.5rem 1rem;
  font-size: 24px;
  border: var(--border);
  border-radius: var(--border-radius);
  background-color: var(--color-container);
  cursor: pointer;

  &:hover{
    background-color: var(--color-lighter);

  }
}
