.Button {
  padding: 0.5rem 1rem;
  font-size: 24px;
  border: var(--border);
  border-radius: var(--border-radius);
  background-color: var(--color-container);
  cursor: pointer;

  &:hover {
    background-color: var(--color-lighter);
  }

  &:active {
    background-color: var(--color-light);
  }

  &[disabled] {
    border-color: var(--color-light);
    color: var(--color-light);
    cursor: default;

    &:hover,
    &:active {
      background-color: var(--color-container);
    }
  }

  &[title] {
    cursor: help;
  }
}