.DevProdMode {
  &__table {
    margin-top: 20px;
    border-collapse: collapse;

    td {
      border: var(--border);
      padding: 2px 4px;
      font-family: monospace;
      font-size: 16px;
    }

    td + td {
      text-align: right;
    }

    thead {
      font-weight: bolder;
    }
  }
}
